button {
	width: 150px;
	background-color: slateblue;
	color: white;
	padding: 5px;
}

#list {
	display: flex;
	align-items: stretch;
	justify-content: space-around;
	text-align: center;
}
.thumb {
	flex-direction: row-reverse;
	flex-wrap: wrap-reverse;
	width: 100px;
	height: 100px;
}

#focus {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
